Repository JSONbored/claudepro-directory: changes, and which lefthook commands are due for each by the changed paths.
All: type-check, type-check-edge, lint, validate-next-config, validate-client-server, test-affected

Path conditions:
  type-check: any of: **/*.{ts,tsx}, but not: apps/edge/functions/**, packages/edge-runtime/src/utils/email/**
  type-check-edge: any of: apps/edge/functions/**/*.ts
  lint: any of: **/*.{ts,tsx}, but not: apps/edge/functions/**, packages/edge-runtime/src/utils/email/**
  validate-next-config: any of: apps/web/next.config.mjs
  validate-client-server: any of: apps/web/src/**/*.{ts,tsx}
  test-affected: any of: **/*.{ts,tsx}, but not: apps/edge/functions/**, packages/edge-runtime/src/utils/email/**

refactor(CI/CD): improve github actions + workflows performance, resource usage
  .github/actions/setup/action.yml
  .github/workflows/MIGRATION_NOTES.md
  .github/workflows/OPTIMIZATION_SUMMARY.md
  .github/workflows/README.md
  .github/workflows/auto-release.yml
  .github/workflows/cache-maintenance.yml
  .github/workflows/ci.yml
  .github/workflows/generate-packages.yml
  .github/workflows/pr-content-extraction.yml
  .github/workflows/release.yml
  .github/workflows/reusable/setup-node-pnpm.yml
  .github/workflows/security.yml
Due: none

refactor(CI/CD): further github action enhancements
  .github/actions/setup/action.yml
  .github/workflows/ci.yml
  .github/workflows/generate-packages.yml
  .github/workflows/generate-readme.yml
  .github/workflows/pr-content-extraction.yml
  .github/workflows/sync-email-templates.yml
  package.json
  packages/generators/package.json
  packages/generators/src/bin/list-backlog.ts
  packages/generators/src/bin/verify-mcpb.ts
  packages/generators/src/commands/generate-mcpb-packages.ts
  packages/generators/src/commands/list-backlog.ts
  packages/generators/src/commands/verify-mcpb-packages.ts
  packages/web-runtime/src/data/jobs.ts
  packages/web-runtime/src/data/layout.ts
  packages/web-runtime/src/data/marketing/site.ts
  packages/web-runtime/src/flux/handlers/webhook.ts
  packages/web-runtime/src/inngest/client.ts
  packages/web-runtime/src/inngest/functions/supabase/content-changed.ts
Due: type-check, lint, test-affected

refactor(navigation): simplify navigation styling and fix duplicate keys
  .github/workflows/sync-email-templates.yml
  apps/web/src/actions/fetch-recently-viewed-items.ts
  apps/web/src/app/(auth)/login/login-panel-client.tsx
  apps/web/src/app/[category]/[slug]/page.tsx
  apps/web/src/app/[category]/page.tsx
  apps/web/src/app/account/companies/new/page.tsx
  apps/web/src/app/account/companies/page.tsx
  apps/web/src/app/account/connected-accounts/page.tsx
  apps/web/src/app/account/layout.tsx
  apps/web/src/app/account/library/new/loading.tsx
  apps/web/src/app/account/settings/page.tsx
  apps/web/src/app/account/sponsorships/page.tsx
  apps/web/src/app/account/submissions/page.tsx
  apps/web/src/app/api/company/route.ts
  apps/web/src/app/api/content/changelog/[slug]/route.ts
  apps/web/src/app/api/content/changelog/route.ts
  apps/web/src/app/api/content/paginated/route.ts
  apps/web/src/app/api/inngest/route.ts
  apps/web/src/app/api/revalidate/route.ts
  apps/web/src/app/api/search/route.ts
  apps/web/src/app/api/stats/social-proof/route.ts
  apps/web/src/app/api/templates/route.ts
  apps/web/src/app/changelog/[slug]/page.tsx
  apps/web/src/app/jobs/[slug]/page.tsx
  apps/web/src/components/core/layout/navigation-command-menu.tsx
  apps/web/src/components/core/layout/navigation-desktop.tsx
  apps/web/src/components/features/home/homepage-hero-client.tsx
  packages/web-runtime/src/config/navigation.ts
  packages/web-runtime/src/ui/components/animation/number-ticker.tsx
Due: type-check, lint, validate-client-server, test-affected

feat(design-system): add v2 semantic design tokens - self-contained animations, microinteractions, scroll, layout, and text variants
  packages/web-runtime/src/design-system/animations/duration.ts
  packages/web-runtime/src/design-system/animations/easing.ts
  packages/web-runtime/src/design-system/animations/index.ts
  packages/web-runtime/src/design-system/animations/spring.ts
  packages/web-runtime/src/design-system/animations/stagger.ts
  packages/web-runtime/src/design-system/animations/transitions.ts
  packages/web-runtime/src/design-system/index.ts
  packages/web-runtime/src/design-system/layout/index.ts
  packages/web-runtime/src/design-system/layout/shared-element.ts
  packages/web-runtime/src/design-system/layout/transitions.ts
  packages/web-runtime/src/design-system/microinteractions/button.ts
  packages/web-runtime/src/design-system/microinteractions/card.ts
  packages/web-runtime/src/design-system/microinteractions/color-transition.ts
  packages/web-runtime/src/design-system/microinteractions/hero.ts
  packages/web-runtime/src/design-system/microinteractions/icon-button.ts
  packages/web-runtime/src/design-system/microinteractions/icon-transition.ts
  packages/web-runtime/src/design-system/microinteractions/index.ts
  packages/web-runtime/src/design-system/microinteractions/opacity.ts
  packages/web-runtime/src/design-system/microinteractions/ripple.ts
  packages/web-runtime/src/design-system/microinteractions/scale.ts
  packages/web-runtime/src/design-system/microinteractions/search.ts
  packages/web-runtime/src/design-system/microinteractions/tooltip.ts
  packages/web-runtime/src/design-system/scroll/index.ts
  packages/web-runtime/src/design-system/scroll/parallax.ts
  packages/web-runtime/src/design-system/scroll/presets.ts
  packages/web-runtime/src/design-system/scroll/progress.ts
  packages/web-runtime/src/design-system/text/blur.ts
  packages/web-runtime/src/design-system/text/fade.ts
  packages/web-runtime/src/design-system/text/index.ts
  packages/web-runtime/src/design-system/text/scale.ts
  packages/web-runtime/src/design-system/text/slide.ts
Due: type-check, lint, test-affected

feat(design-system): migrate navigation components to v2 semantic tokens (Phase 2)
  apps/web/src/components/core/layout/navigation-desktop.tsx
  apps/web/src/components/core/layout/navigation-mobile.tsx
  apps/web/src/components/core/layout/navigation-tablet.tsx
  apps/web/src/components/core/layout/navigation.tsx
  packages/web-runtime/src/config/navigation.ts
Due: type-check, lint, validate-client-server, test-affected

refactor(seo): consolidate functions and remove unused code
  apps/web/src/app/api/seo/route.ts
  config/tools/eslint-plugin-architectural-rules.js
  packages/database-types/src/index.ts
  packages/web-runtime/src/data/seo/client.ts
  packages/web-runtime/src/inngest/client.ts
  packages/web-runtime/src/inngest/functions/changelog/process.ts
  packages/web-runtime/src/seo/generator.ts
Due: type-check, lint, validate-client-server, test-affected

refactor(data-layer): migrate API routes to use service layer methods
  apps/web/src/app/api/changelog/sync/route.ts
  apps/web/src/app/api/content/[category]/[slug]/route.ts
  apps/web/src/app/api/content/sitewide/route.ts
  packages/data-layer/src/services/changelog.ts
  packages/data-layer/src/services/content.ts
  packages/database-types/src/index.ts
Due: type-check, lint, validate-client-server, test-affected

refactor(api): use formatted RPC methods to eliminate client-side mapping
  apps/web/src/app/api/content/[category]/[slug]/route.ts
  apps/web/src/app/api/content/[category]/route.ts
  apps/web/src/app/api/content/sitewide/route.ts
  apps/web/src/app/api/og/route.tsx
  apps/web/src/app/api/search/route.ts
  apps/web/src/app/api/trending/route.ts
  packages/data-layer/src/services/trending.ts
  packages/database-types/src/index.ts
Due: type-check, lint, validate-client-server, test-affected

refactor(api): use formatted RPCs and async Inngest for external calls
  apps/web/src/app/api/changelog/sync/route.ts
  apps/web/src/app/api/search/autocomplete/route.ts
  apps/web/src/app/api/search/facets/route.ts
  apps/web/src/app/api/sitemap/route.ts
  apps/web/src/app/api/status/route.ts
  packages/data-layer/src/services/changelog.ts
  packages/data-layer/src/services/misc.ts
  packages/data-layer/src/services/search.ts
  packages/data-layer/src/utils/request-cache.ts
  packages/database-types/src/index.ts
  packages/web-runtime/src/flux/handlers/discord.ts
  packages/web-runtime/src/inngest/client.ts
  packages/web-runtime/src/inngest/config/index.ts
  packages/web-runtime/src/inngest/functions/discord/direct.ts
  packages/web-runtime/src/inngest/functions/discord/index.ts
  packages/web-runtime/src/inngest/functions/indexnow/index.ts
  packages/web-runtime/src/inngest/functions/indexnow/submit.ts
  packages/web-runtime/src/inngest/index.ts
Due: type-check, lint, validate-client-server, test-affected

feat(netlify): add netlify hosting support, resolve build bugs
  apps/web/src/app/jobs/[slug]/page.tsx
  netlify.toml
  packages/database-types/src/index.ts
  packages/web-runtime/package.json
  packages/web-runtime/src/data/jobs.ts
Due: type-check, lint, validate-client-server, test-affected

refactor(search): migrate to database composite types pt 2
  apps/edge/supabase/functions/heyclaude-mcp/routes/search.ts
  apps/web/src/app/api/search/route.ts
  apps/web/src/app/search/page.tsx
  apps/web/src/components/content/detail-page/scroll-aware-toc.tsx
  apps/web/src/components/core/domain/reviews/review-list-section.tsx
  apps/web/src/components/core/infra/scroll-animated-section.tsx
  apps/web/src/components/core/layout/navigation-desktop.tsx
  apps/web/src/components/core/layout/navigation-mobile.tsx
  apps/web/src/components/core/layout/navigation-tablet.tsx
  apps/web/src/components/features/home/featured-sections.tsx
  apps/web/src/components/features/home/homepage-hero-client.tsx
  apps/web/src/components/features/home/magnetic-search-wrapper.tsx
  packages/data-layer/src/services/search.ts
  packages/database-types/src/index.ts
  packages/web-runtime/src/design-system/animations/index.ts
  packages/web-runtime/src/design-system/index.ts
  packages/web-runtime/src/types/component.types.ts
  packages/web-runtime/src/ui/components/animation/sliding-number.tsx
  packages/web-runtime/src/ui/components/badges/unified-badge.tsx
  packages/web-runtime/src/ui/components/buttons/magnetic-button.tsx
  packages/web-runtime/src/ui/components/collapsible.tsx
Due: type-check, lint, validate-client-server, test-affected

chore(deps): package updates
  apps/web/package.json
  packages/data-layer/package.json
  packages/generators/package.json
  packages/shared-runtime/package.json
  packages/web-runtime/package.json
  pnpm-lock.yaml
Due: none

docs(supabase): add branch setup note for Prisma migration
  supabase/README.md
Due: none

fix(db): migration schema for missing prod updates
  supabase/migrations/20251214061951_create_content_unified_view_for_migration_compatibility.sql
Due: none

feat(AST): new ast-grep-rules patterns
  config/coderabbit/ast-grep-rules/accessibility-patterns.yml
  config/coderabbit/ast-grep-rules/bundle-optimization-patterns.yml
  config/coderabbit/ast-grep-rules/database-optimization-patterns.yml
  config/coderabbit/ast-grep-rules/performance-patterns.yml
  config/coderabbit/ast-grep-rules/react-optimization-patterns.yml
  config/coderabbit/ast-grep-rules/type-safety-patterns.yml
Due: none

refactor(database): migrate RPC functions to Prisma direct queries
  supabase/migrations/20251216054021_remove_get_job_title_by_id_rpc.sql
  supabase/migrations/20251216054119_remove_is_bookmarked_rpc.sql
  supabase/migrations/20251216054122_remove_is_following_rpc.sql
  supabase/migrations/20251216054126_remove_get_webhook_event_by_svix_id_rpc.sql
  supabase/migrations/20251216054129_remove_is_bookmarked_batch_rpc.sql
  supabase/migrations/20251216054132_remove_is_following_batch_rpc.sql
Due: none

refactor(prisma): migrate RPC functions to Prisma direct queries
  supabase/migrations/20251216120000_remove_get_active_announcement_rpc.sql
  supabase/migrations/20251216120001_remove_get_active_notifications_rpc.sql
  supabase/migrations/20251216120002_remove_get_recent_content_rpc.sql
  supabase/migrations/20251216120003_remove_get_jobs_count_rpc.sql
  supabase/migrations/20251216120004_remove_get_featured_jobs_rpc.sql
  supabase/migrations/20251216120005_remove_get_jobs_by_category_rpc.sql
  supabase/migrations/20251216120006_remove_get_content_templates_rpc.sql
  supabase/migrations/20251216120007_remove_get_content_paginated_slim_rpc.sql
  supabase/migrations/20251216120008_remove_get_newsletter_subscription_by_id_rpc.sql
  supabase/migrations/20251216120009_remove_get_active_subscribers_rpc.sql
  supabase/migrations/20251216120010_remove_get_contact_commands_rpc.sql
  supabase/migrations/20251216120011_remove_get_quiz_configuration_rpc.sql
  supabase/migrations/20251216120012_remove_get_payment_plan_catalog_rpc.sql
  supabase/migrations/20251216120013_remove_get_job_detail_rpc.sql
Due: none

refactor(prisma): fix broken migration
  supabase/migrations/20251214061951_create_content_unified_view_for_migration_compatibility.sql
Due: none
